body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

header {
  padding: 1rem 4rem;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.A {
  border-radius: 0 0 0 5rem;
  background-image: url(./assets/desktop_background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 12rem 10rem;
}

.B {
  background-color: #e5e5e5;
}

.C {
  color: #2323bd;
}

.D a {
  color: dimgrey;
  font-size: 1rem;
}

.list-group-item {
  border: none;
}
